################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/WebAPI/.vs
/Application/WebAPI/WebAPI.sln
