<div class="navigation navigation-main">

  <!-- Setup your logo here-->

  <a href="index.html" class="logo"><img src="assets/images/logo.png" alt=""></a>

  <!-- Mobile toggle menu -->

  <a href="#" class="open-menu"><i class="icon icon-menu"></i></a>

  <!-- Convertible menu (mobile/desktop)-->

  <div class="floating-menu">

      <!-- Mobile toggle menu trigger-->

      <div class="close-menu-wrapper">
          <span class="close-menu"><i class="icon icon-cross"></i></span>
      </div>

    <ul>
      <li></li>
      <!-- Multi-content dropdown -->
      <li>
        <div class="navbar-dropdown">
          <div class="navbar-box">
            <!-- box-1 (left-side)-->
            <div class="box-1">
              <div class="box">
                <div class="h2">Find your inspiration</div>
                <div class="clearfix">
                  <p>Homes that differ in terms of style, concept and architectural solutions have been furnished by Furniture Factory. These spaces tell of an international lifestyle that expresses modernity, research and a creative spirit.</p>
                  <a class="btn btn-clean btn-big" href="products-grid.html">Shop now</a>
                </div>
              </div>
            </div>
            <!-- box-2 (right-side)-->
            <div class="box-2">
              <div class="box clearfix">
                <div class="row">
                  <div class="col-md-4">
                    <ul>
                      <li class="label">Homepage</li>
                      <li><a href="index.html">Home - Slider</a></li>
                      <li><a href="index-2.html">Home - Tabsy gallery</a></li>
                      <li><a href="index-3.html">Home - Slider full screen</a></li>
                      <li><a href="index-4.html">Home - Info icons</a></li>
                      <li><a href="index-xmas.html">Home - Xmas</a></li>
                      <li><a href="index-rtl.html">Home - RTL <span class="label label-warning">New</span></a></li>
                      <li><a href="index-5.html">Onepage</a></li>
                      <li><a href="index-6.html">Onepage - Filters <span class="label label-warning">Isotope</span></a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul>
                      <li class="label">Blog</li>
                      <li><a href="blog-grid.html">Blog grid</a></li>
                      <li><a href="blog-list.html">Blog list</a></li>
                      <li><a href="blog-grid-fullpage.html">Blog fullpage</a></li>
                      <li><a href="ideas.html">Blog ideas</a></li>
                      <li><a href="article.html">Blog article</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul>
                      <li class="label">Pages</li>
                      <li><a href="about.html">About us</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="login.html">Login &amp; Register <span class="label label-warning">New</span></a></li>
                    </ul>
                    <ul>
                      <li class="label">Extras</li>
                      <li><a href="shortcodes.html">Shortcodes</a></li>
                      <li><a href="email-receipt.html">Email template <span class="label label-warning">New</span></a></li>
                      <li><a href="404.html">Not found 404 <span class="label label-warning">New</span></a></li>
                    </ul>
                  </div>
                </div> <!--/row-->
              </div> <!--/box-->
            </div> <!--/box-2-->
          </div> <!--/navbar-box-->
        </div> <!--/navbar-dropdown-->
      </li>
      <!-- Single dropdown-->
      <li>
        <a href="#">Services <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
        <div class="navbar-dropdown navbar-dropdown-single">
          <div class="navbar-box">
            <!-- box-2 (without 'box-1', box-2 will be displayed as full width)-->
            <div class="box-2">
              <div class="box clearfix">
                <ul>
                  <li><a href="products-grid.html">Installation</a></li>
                  <li><a href="products-list.html">Delivery</a></li>
                  <li><a href="category.html">Cleaning</a></li>
                  <li><a href="products-topbar.html">Staging</a></li>
                  <li><a href="product.html">Others</a></li>
                </ul>
              </div> <!--/box-->
            </div> <!--/box-2-->
          </div> <!--/navbar-box-->
        </div> <!--/navbar-dropdown-->
      </li>
      <!-- Furniture icons in dropdown-->
      <li>
        <a href="category.html">Products <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
        <div class="navbar-dropdown">
          <div class="navbar-box">
            <!-- box-1 (left-side)-->
            <div class="box-1">
              <div class="image">
                <img src="assets/images/blog-2.jpg" alt="Lorem ipsum">
              </div>
              <div class="box">
                <div class="h2">Best ideas</div>
                <div class="clearfix">
                  <p>Homes that differ in terms of style, concept and architectural solutions have been furnished by Furniture Factory. These spaces tell of an international lifestyle that expresses modernity, research and a creative spirit.</p>
                  <a class="btn btn-clean btn-big" href="ideas.html">Explore</a>
                </div>
              </div>
            </div> <!--/box-1-->
            <!-- box-2 (right-side)-->
            <div class="box-2">
              <div class="clearfix categories">
                <div class="row">
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-sofa"></i>
                        <figcaption>Sofa</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-armchair"></i>
                        <figcaption>Armchairs</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-chair"></i>
                        <figcaption>Chairs</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-dining-table"></i>
                        <figcaption>Dining tables</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-media-cabinet"></i>
                        <figcaption>Media storage</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-table"></i>
                        <figcaption>Tables</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-bookcase"></i>
                        <figcaption>Bookcase</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-bedroom"></i>
                        <figcaption>Bedroom</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-nightstand"></i>
                        <figcaption>Nightstand</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-children-room"></i>
                        <figcaption>Children room</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-kitchen"></i>
                        <figcaption>Kitchen</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-bathroom"></i>
                        <figcaption>Bathroom</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-wardrobe"></i>
                        <figcaption>Wardrobe</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-shoe-cabinet"></i>
                        <figcaption>Shoe cabinet</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-office"></i>
                        <figcaption>Office</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-bar-set"></i>
                        <figcaption>Bar sets</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-lightning"></i>
                        <figcaption>Lightning</figcaption>
                      </figure>
                    </a>
                  </div>
                  <!--icon item-->                                                
                  <div class="col-sm-3 col-xs-6">
                    <a href="javascript:void(0);">
                      <figure>
                        <i class="f-icon f-icon-carpet"></i>
                        <figcaption>Carpet</figcaption>
                      </figure>
                    </a>
                  </div>
                </div> <!--/row-->
              </div> <!--/categories-->
            </div> <!--/box-2-->
          </div> <!--/navbar-box-->
        </div> <!--/navbar-dropdown-->
      </li>
      <!-- Mega menu dropdown -->
      <li>
        <a href="#">Room Ideas <span class="open-dropdown"><i class="fa fa-angle-down"></i></span></a>
        <div class="navbar-dropdown navbar-dropdown-single">
          <div class="navbar-box">
            <!-- box-2 (without 'box-1', box-2 will be displayed as full width)-->
            <div class="box-2">
              <div class="box clearfix">
                <ul>
                  <li><a href="products-grid.html">Bed Room</a></li>
                  <li><a href="products-list.html">Bath Room</a></li>
                  <li><a href="category.html">Dining</a></li>
                  <li><a href="category.html">Kids</a></li>
                  <li><a href="products-topbar.html">Kitchen</a></li>
                  <li><a href="product.html">Living Room</a></li>
                   <li><a href="product.html">Office</a></li>
                   <li><a href="product.html">Patio</a></li>
                </ul>
              </div> <!--/box-->
            </div> <!--/box-2-->
          </div> <!--/navbar-box-->
        </div>
        
      </li>
      <!-- Simple menu link-->
      <li><a href="shortcodes.html">My Offerings</a>
        <div class="navbar-dropdown navbar-dropdown-single">
          <div class="navbar-box">
            <!-- box-2 (without 'box-1', box-2 will be displayed as full width)-->
            <div class="box-2">
              <div class="box clearfix">
                <ul>
                  <li><a href="products-grid.html">My Products</a></li>
                  <li><a href="products-list.html">My Services</a></li>
                 
                </ul>
              </div> <!--/box-->
            </div> <!--/box-2-->
          </div> <!--/navbar-box-->
        </div></li>
      <!-- Simple menu link-->
      <li><a href="shortcodes.html">Orders</a>
        <div class="navbar-dropdown navbar-dropdown-single">
          <div class="navbar-box">
            <!-- box-2 (without 'box-1', box-2 will be displayed as full width)-->
            <div class="box-2">
              <div class="box clearfix">
                <ul>
                  <li><a href="products-grid.html">Past (3)</a></li>
                  <li><a href="products-list.html">In Process (3)</a></li>
                  <li><a href="category.html">Confirmed(5)</a></li>
                </ul>
              </div> <!--/box-->
            </div> <!--/box-2-->
          </div> <!--/navbar-box-->
        </div></li>
      <li><a href="shortcodes.html">Support</a>
      </li>
    </ul>
</div> <!--/floating-menu-->
</div> <!--/navigation-main-->