<section class="owl-icons-wrapper owl-icons-frontpage">
  <!-- === header === -->
  <header class="hidden">
    <h2>Product categories</h2>
  </header>
  <div class="container">
    <div class="owl-icons">
      <!-- === icon item === -->
      
      <a href="#">
        <figure>
          <i class="f-icon f-icon-armchair"></i>
          <figcaption>Bedroom</figcaption>
        </figure>
      </a>           
     
      <!-- === icon item === -->
      <a href="#">
        <figure>
          <i class="f-icon f-icon-dining-table"></i>
          <figcaption>Dining</figcaption>
        </figure>
      </a>
      <!-- === icon item === -->
      <a href="#">
        <figure>
          <i class="f-icon f-icon-media-cabinet"></i>
          <figcaption>Living</figcaption>
        </figure>
      </a>
      <!-- === icon item === -->
      
      <a href="#">
        <figure>
          <i class="f-icon f-icon-bookcase"></i>
          <figcaption>Patio</figcaption>
        </figure>
      </a>
      
      <!-- === icon item === -->
      <a href="#">
        <figure>
          <i class="f-icon f-icon-children-room"></i>
          <figcaption>Children room</figcaption>
        </figure>
      </a>
      <!-- === icon item === -->
      <a href="#">
        <figure>
          <i class="f-icon f-icon-kitchen"></i>
          <figcaption>Kitchen</figcaption>
        </figure>
      </a>
      <!-- === icon item === -->
      <a href="#">
        <figure>
          <i class="f-icon f-icon-bathroom"></i>
          <figcaption>Bathroom</figcaption>
        </figure>
      </a>
      
      <!-- === icon item === -->

      <a href="#">
        <figure>
          <i class="f-icon f-icon-office"></i>
          <figcaption>Office</figcaption>
        </figure>
      </a>

     

    </div> <!--/owl-icons-->
  </div> <!--/container-->
</section>