<div class="navigation navigation-top clearfix">
  <ul>
      <!--add active class for current page-->

      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>

      <!--Currency selector-->

      <li class="nav-settings">
          <a href="javascript:void(0);" class="nav-settings-value"> CAD $</a>
          <ul class="nav-settings-list">
              <li>USD $</li>
              <li>EUR €</li>
              
          </ul>
      </li>

      <!--Language selector-->

      <li class="nav-settings">
          <a href="javascript:void(0);" class="nav-settings-value"> ENG</a>
          <ul class="nav-settings-list">
              <li>ENG</li>
              <li>Fr</li>
             
          </ul>
      </li>
      <li><a href="javascript:void(0);" class="open-login"><i class="icon icon-user"></i></a></li>
      <li><a href="javascript:void(0);" class="open-search"><i class="icon icon-magnifier"></i></a></li>
      <li><a href="javascript:void(0);" class="open-cart"><i class="icon icon-cart"></i> <span>3</span></a></li>
  </ul>
</div> 