<section class="instagram">

  <!-- === instagram header === -->

  <header>
      <div class="container">
          <div class="row">
              <div class="col-md-offset-2 col-md-8 text-center">
                  <h2 class="h2 title">Follow us <i class="fa fa-instagram fa-2x"></i> Instagram </h2>
                  <div class="text">
                      <p>@InstaFurnitureFactory</p>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- === instagram gallery === -->

  <div class="gallery clearfix">
      <a class="item" href="#">
          <img src="assets/images/square-1.jpg" alt="Alternate Text">
      </a>
      <a class="item" href="#">
          <img src="assets/images/square-2.jpg" alt="Alternate Text">
      </a>
      <a class="item" href="#">
          <img src="assets/images/square-3.jpg" alt="Alternate Text">
      </a>
      <a class="item" href="#">
          <img src="assets/images/square-4.jpg" alt="Alternate Text">
      </a>
      <a class="item" href="#">
          <img src="assets/images/square-5.jpg" alt="Alternate Text">
      </a>
      <a class="item" href="#">
          <img src="assets/images/square-6.jpg" alt="Alternate Text">
      </a>

  </div> <!--/gallery-->

</section>